/*body*/
body{
	letter-spacing: 1px;
	background-color: #fff;
	background:linear-gradient(
      rgba(255, 255, 255, 0.75), 
      rgba(0, 0, 0, 0.75)
    ), url('../../background.jpg');
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.bleh{
	height: 40px;
	width: 40px;
	border: 1.5px solid rgba(229,0,101,0.5);
	background-color:transparent;
	border-radius:50%;
	padding-top: 10px;
}

/*inpput glyphicons*/
.input-group-addon{
	font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background: transparent;
    border:none;
    padding: 0px;
}

/*responsive*/
@media screen and (min-width: 769px) and (max-width: 1024px){
	.bleh{
		height: 30px !important;
		width: 30px !important;
		padding-top: 5px !important;
	}
	.container{
		width: 50% !important;
		margin: 0 0 0 25% !important;
	}
	#logo-main{
		height: 55px !important;
	}
	h3{
		font-size: 16px !important;
	}

	.wrongalert{
		font-size: 18px !important;
	}

	#txtpassword{
		height: 30px !important;
		border-radius: 50% !important
		font-size: 16px !important;
	}
	#txtemail{
		height: 30px !important;
		border-radius: 50% !important
		font-size: 16px !important;
	}
}

@media screen and (max-width:600px){
	.container{
		width: 96% !important;
		margin: 0 0 0 2% !important;
	}
}

@media screen and (min-width: 601px) and (max-width: 768px){
	.container{
		width:70% !important;
		margin-left: 15% !important;
	}
}

/*logo*/
#logo-main{
	text-align: center;
	max-height: 70px;
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.container{
	width:40%;
	margin-left: 30%;
	background-color: rgba(255,255,255,0.8);
	border-radius: 25px;
	padding-bottom: 30px;
	margin-top: 30px;
}

/*form div*/
.loginform{
	padding-top: 10px;
	margin-top: 5px;
}

/*form css*/
form > h3{
	text-align: center;
	padding-bottom: 10px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	color: rgba(25,12,38,1);
	cursor: default;
}

/*alert*/
.wrongalert{
	display: block;
	margin:20px auto 0px auto;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
	text-align: center;
	color: rgb(25,12,38);
	max-width: 400px;
	font-weight: bold;
	font-size: 25px;
	margin-top: 20px;
	border-radius: 10px;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 10px;
	background: rgba(255,255,255,0.2);
	text-decoration: underline;
}

/*login button div*/
#loginbutton{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/*forgot link*/
#forgot{
	font-size: 18px;
	color: #fff;
}

.glyphicon{
	color: rgba(229,0,101,1);
}

/*input css*/
#txtpassword{
	border: 1.5px solid rgb(229,0,101);
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: 'Advent Pro', sans-serif;
	color: rgba(229,0,101);
	opacity: 0.7;
	margin-left: 5px;
	height:40px;
	border-radius: 20px;
	padding-left: 15px;
	box-shadow: none;
	background-color: transparent;
	transition: 1s ease;
	-webkit-transition : 1s ease;
	-moz-transition :1s ease;
	-o-transition : 1s ease;
}

#txtpassword::-webkit-input-placeholder{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	color: rgb(229,0,101);
	opacity: 0.7;
}

#txtpassword::-moz-placeholder{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	color: rgb(229,0,101);
	opacity: 0.7;
}

#txtpassword::-ms-input-placeholder{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	color:rgb(229,0,101);
	opacity: 0.7;
}

#txtpassword:focus {   
	color: rgb(25,12,38);
    border-color: rgba(25,12,38,1);
    outline: 0 none;
    transition: 1s ease;
	-webkit-transition : 1s ease;
	-moz-transition :1s ease;
	-o-transition : 1s ease;
}

#txtemail{
	border: 1.5px solid rgb(229,0,101);
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 18px;
	font-family: 'Advent Pro', sans-serif;
	color: rgba(229,0,101);
	opacity: 0.7;
	margin-left: 5px;
	height:40px;
	border-radius: 20px;
	padding-left: 15px;
	box-shadow: none;
	background-color: transparent;
	transition: 1s ease;
	-webkit-transition : 1s ease;
	-moz-transition :1s ease;
	-o-transition : 1s ease;
}

#txtemail:focus {   
    color: rgb(25,12,38);
    border-color: rgba(25,12,38,1);
    outline: 0 none;
    transition: 1s ease;
	-webkit-transition : 1s ease;
	-moz-transition :1s ease;
	-o-transition : 1s ease;
}

#txtemail::-webkit-input-placeholder{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	color: rgb(229,0,101);
	opacity: 0.7;
}

#txtemail::-moz-placeholder{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	color: rgb(229,0,101);
	opacity: 0.7;
}

#txtemail::-ms-input-placeholder{
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
	color: rgb(229,0,101);
	opacity: 0.7;
}

/*login button*/
button{
	margin-top: 15px;
	letter-spacing: 1px;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;
	background-color: rgba(229,0,101,0.4);
	height: 50px;
	width: 150px;
	border: 2px solid rgba(25,12,38,0.4);
	box-shadow: none;
	outline:none;
	border-radius: 10px;
	font-size: 20px;
	color: rgba(25,12,38,0.6);
	-moz-box-shadow:    2px 2px 2px 2px rgb(25,12,38);
  	-webkit-box-shadow: 2px 2px 2px 2px rgb(25,12,38);
  	box-shadow:         2px 2px 2px 2px rgb(25,12,38);
}

button:hover{
	border: 2px solid rgba(25,12,38,1);
	color: rgb(25,12,38);
	opacity: 1;
	transition:0.5s ease-in;
	box-shadow: none;
}

/*signup and forgot passowrd links*/
.link1{
	letter-spacing: 1px;
	font-weight: lighter;
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	color: rgba(229,0,101,0.8);
	font-size: 16px;
	float: left;
	white-space: nowrap;
	transition:0.5s ease-out;
}

.link1:after{
	text-decoration: none;
	content: '';
	display: block;
	margin: auto;
	height:2px;
	width: 0px;
	background:transparent;
	transition : width 0.5s ease, background-color 0.5s ease;
	-webkit-transition : width 0.5s ease, background-color 0.5s ease;
	-moz-transition : width 0.5s ease, background-color 0.5s ease;
	-o-transition : width 0.5s ease, background-color 0.5s ease;
}

.link1:hover{
	transition:0.5s ease-in;
	text-decoration: none;
	color: rgba(25,12,38,1);
	opacity: 0.8;
}

.link1:hover:after{
	text-decoration: none;
	width: 100%;
	background: rgba(25,12,38,1);
	opacity: 0.8;
}

.link2{
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-family: 'Quicksand', cursive;
	color: rgba(229,0,101,0.8);
	font-size: 16px;
	float: right;
	white-space: nowrap;
	transition:0.5s ease-out;
}

.link2:after{
	text-decoration: none;
	content: '';
	display: block;
	margin: auto;
	height:2px;
	width: 0px;
	background:transparent;
	transition : width 0.5s ease, background-color 0.5s ease;
	-webkit-transition : width 0.5s ease, background-color 0.5s ease;
	-moz-transition : width 0.5s ease, background-color 0.5s ease;
	-o-transition : width 0.5s ease, background-color 0.5s ease;
}

.link2:hover{
	text-decoration: none;
	color: rgba(25,12,38,1);
	opacity: 0.8;
	transition:0.5s ease-in;
}

.link2:hover:after{
	text-decoration: none;
	width: 100%;
	background:  rgba(25,12,38,1);
	opacity: 0.8;
}

.links{
	height: 30px;
	border-radius: 15px;
	margin-top: 7px;
	margin-left: 10px;
	padding-right: 5px;
}